/*header*/
.header {
  height: 100px;
  background-color: black;
  padding: 0 60px;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.header_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/*logo*/
.logo_bg {
  display: block;
  width: 120px;
  height: 20px;
  background-image: url(../img/logo-white.png);
  background-size: 120px 20px;
}

.bers{
  position:absolute;
  top:40px;
  right:60px;
  font-size: 20px;
  display:none;
}
/*nav*/
.nav {
  display: flex;
}
.nav li{
  padding-left:40px;
}
.nav li:first-child{
  padding-left:0;
}
.nav li > a {
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: block;
}

/*lang*/
.lang_list {
  display: flex;
}

.lang_item {
  padding-right:13px;
  margin-right:10px;
  position: relative;
}
.lang_item > a{
  font-size: 13px;
  color: #A2A2A2;
}
.lang_link_item{
  overflow: hidden;
  position: relative;
}
.lang_link_item:after{
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}
.lang_link_item:hover:after{
  transform: scaleX(1);
}
.lang_item:after {
  content:"";
  width:1px;
  height: 9px;
  display:block;
  position: absolute;
  top:40%;
  right:0;
  background-color: #D9D9D9;
}
.lang_item:last-child::after{
  display: none;
}

.lang_item:last-child{
  margin-right:0px;
}

/*footer*/
.footer{
  padding:63px 60px;
  background-color:#000000;
}
.footer_container{
  margin: 63px;
}
.footer_logo{
  display: block;
  width:240px;
  height:40px;
  background-image:url(../img/logo-white.png);
  margin:0 auto;
}

.menu{
  display:flex;
  justify-content: center;
}
.menu_item{
  position: relative;
}
.menu_item::after{
  content:"";
  width:1px;
  height: 9px;
  display:block;
  position: absolute;
  top:10px;
  right:-0px;
  background-color: #D9D9D9;
}
.menu_item:last-child::after {
  display: none;
}
.menu_item:last-child{
  margin-right:0px;
}
.naver a{
  display: block;
  width:33px;
  height:30px;
  background-image:url(../img/ico-sns-naver.png);
}
.youtube a{
  display: block;
  width:44px;
  height:31px;
  background-image:url(../img/ico-sns-youtube.png);
}
.Linkedin a{
  display: block;
  width:39px;
  height:39px;
  background-image:url(../img/ico-sns-linkedin.png);
}
.menu_item{
  margin-right:20px;
  padding-right:20px;
}
.menu_item a, .footercopy_txt{
  color:#ffffff;
  font-size:13px;
}
.footercopy_txt{
  font-weight:300;
  text-align:center;
}
.menu_item1 a{
  text-indent: -99999px;}
.menu_item1{
  margin-right:66px;
}
.menu_item1:last-child{
  margin-right: 0;
}


.미디어쿼리{}
/* max-width:1300px ~ 1025px */
@media (max-width:1300px) and (min-width:1025px) {
/*header*/
.header {
  padding:0 4.615vw;
  height:7.692vw;
}

/*logo*/
.logo_bg {
  width: 9.2307vw;
  height: 1.5384vw;
  background-size: 9.2307vw 1.5384vw;
}

/*nav*/
.nav li > a {
  font-size:1.231vw;}
.nav li{
  padding-left:2.308vw;
}

/*lang*/

.lang_item {
  padding-right:1vw;
  margin-right:0.769vw;
}
.lang_item > a{
  font-size: 1vw;
}
.lang_link_item:after{
  height:0.154vh;
}
.lang_item:after {
  height:0.692vh;
  top:50%;
}

/*footer*/
.footer{
  padding:4.846vw 4.615vh;
}
.footer_container{
  margin:4.846vw;
}
.footer_logo{
  width:18.462vw;
  height:3.077vw;
  background-size:18.462vw 3.077vw;
}
.menu_item::after{
  content:"";
  width:0.077vw;
  height:0.692vh;
  top:50%;
}
.naver a{
  display: block;
  width:2.538vw;
  height:2.308vw;
  background-size:2.538vw 2.308vw;
}
.youtube a{
  display: block;
  width:3.385vw;
  height:2.385vw;
  background-size:3.385vw 2.385vw;
}
.Linkedin a{
  display: block;
  width:3vw;
  height:3vw;
  background-size:3vw 3vw;
}
.menu_item{
  margin-right:1.538vw;
  padding-right:1.538vh;
}
.menu_item a, .footercopy_txt{
  font-size:1vw;
}
.menu_item1{
  margin-right:5.077vw;
}
}

.미디어쿼리{}
/* max-width:1024px ~ 768px */
@media (max-width:1024px) and (min-width:768px) {
.header {
  padding: 0 5.859vw;
  height: 9.766vw;
}
.logo_bg {
  width:11.719vw;
  height:1.953vw;
  background-size:11.719vw 1.953vw;
}
/* nav */
.nav li > a{
  color:#131313;
}
/*footer*/
.footer{
  padding:6.152vw 5.859vw;
}
.footer_container{
  margin:6.152vw;
}
.footer_logo{
  width:23.438vw;
  height:3.906vw;
  background-size:23.438vw 3.906vw;
}
.menu_item::after{
  width:0.098vw;
  height:0.879vw;
  top:50%;
}
.naver a{
  width:3.223vw;
  height:2.93vw;
  background-size:3.223vw 2.93vw;
}
.youtube a{
  width:4.297vw;
  height:3.027vw;
  background-size: 4.297vw 3.027vw;
}
.Linkedin a{
  display: block;
  width:3.809vw;
  height:3.809vw;
  background-size:3.809vw 3.809vw;
}
.menu_item{
  margin-right:1.953vw;
  padding-right:1.953vw;
}
.menu_item a, .footercopy_txt{
  font-size:1.27vw;
  white-space: nowrap;
}
.menu_item1{
  margin-right:6.445vw;
}
}
.미디어쿼리{}
/* max-width:767 */
@media (max-width:767px){
    
/*header*/
.header {
  height: 13.038vw;
  padding: 0 7.823vw;
}
.logo_bg {
  width:15.645vw;
  height:2.608vw;
  background-size:15.645vw 2.608vw;
}
/* nav */
.nav li > a{
  color:#131313;
}

/* footer */
  .footer{
    padding:8.214vw 7.823vw;
    background-color:#000000;
  }
  .footer_container{
    margin: 8.214vw;
  }
  .footer_logo{
    width:15.645vw;
    height:2.608vw;
    background-size:15.645vw 2.608vw;
  }
  .menu_item::after{
    content:"";
    width:0.13vw;
    height:1.173vw;
    top:55%;
  }
  .menu_item:last-child::after {
    display: none;
  }
  .menu_item:nth-child(6)::after {
    content: none;}
  
  .menu_item:last-child{
    margin-right:0px;
  }
  .naver a{
    width:5vw;
    height:4.6875vw;
    background-size:5vw 4.6875vw;
  }
  .youtube a{
    width:6.875vw;
    height:4.6875vw;
    background-size:6.875vw 4.6875vw;
  }
  .Linkedin a{
    display: block;
    width:5.03846vw;
    height:5.03846vw;
    background-size:5.03846vw 5.03846vw;
  }
  .menu_item{
    margin-right:2.608vw;
    padding-right:2.608vw;
  }
  .menu_item:nth-child(7){
    display:none;
  }
  .menu_item a, .footercopy_txt{
    font-size:1.695vw;
    white-space: nowrap;
  }
  .menu_item1{
    margin-right:8.605vw;
  }
}
  
