/* lang link */
.lang_link_item:after{
  background:#ffffff !important;
}


/*main*/
.main {
  width: 100%;
  overflow: hidden;
}
.main_container {
  width: 100%;
  position: relative;
}
.main_slide ul {
  display: flex;
  transition: transform 0.5s ease;
}
.main_slide ul li {
  min-width: 100%;
  position: relative;
}
.main_img, .main_img2, .main_img3 {
  width: 100%;
  height: 920px;
  position: relative;
}
.main_txt h2, .main_txt2 h2, .main_txt3 h2{
  font-size:60px;
}
.main_img img, .main_img2 img, .main_img3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_txt, .main_txt2, .main_txt3 {
  color: white;
  position: absolute;
  top: 50%;
  left: 3.125%;
  transform: translateY(-50%);
}
.Get_started{
  display: inline-block;
  padding:5px 10px 5px 18px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 30px;
  margin-top: 16px;
  line-height: 2.5vw;
}
.Get_started:hover{
  background-color:white;
  color: black;
  transition-duration: 0.7s;
}
.arrow {
  position: relative;
  top: -1.5px;
  vertical-align: middle;
}
.Get_started:hover .arrow{
  content:url(../img/arrow_b.png);
  transition-duration: 0.7s;
}

/*game*/
.game{
  width:100%;
}
.game_container{
  padding:233px 0 80px 0 ;
}
.game_header{
  color:#ffffff;
  text-align: center;
  margin-bottom:60px;
}
.game_header p{
  font-size: 18px;
}

/* slider */
.swiper {
  width: 100%;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 307px;
  height: 387px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* update */
.update{
  width:100%;
}
.update_container{
  width:100%;
  padding:200px 0 80px 0;
}
.update_header{
  text-align: center;
  margin-bottom:130px;
  color:#ffffff;
}
.update_name{
  font-size:40px;
  font-weight:500;
}
.update_event{
  font-size:40px;
  font-weight:700;
}
.update_txt, .update_txt2, .update_txt3{
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}
.update1{
  position: relative;
  margin: 0 60px;
}
.update_img{
  width:100%;
  position: relative;
  display:block;
  transition: 1s;
  margin-bottom: 32px;
}
.update_img img{
  width:100%;
  height:480px;
  object-fit: cover;
  border-radius:30px;
}

.update_txt{
  position: absolute;
  text-align: center;
  bottom: 50px;
  left: 0;
  width: 100%; 
  white-space: nowrap;
}
.btn{
  position: absolute;
  top:20px;
  right:40px;
}
.update_group{
  width:100%;
  display:flex;
  padding:0 60px;
}
.update2{
  width:40%;
  position: relative;
}
.update_img2{
  margin-right:30px;
}
.update_img2 img ,.update_img3 img{
  width:100%;
  height:478px;
  border-radius: 30px;
  object-fit:cover;
  transition: 1s;
}
.update3{
  position: relative;
  width:60%;
}
.update_txt2, .update_txt3{
  position: absolute;
  text-align: center;
  bottom: 50px;
  left: 0;
  width: 100%;
}
.update_txt3{
  position: absolute;
  text-align: center;
  bottom: 50px;
  left: 0;
  width: 100%;
}
.btn1{
  position: absolute;
  top:20px;
  right:60px;
}
.btn, .btn1, .btn2 {
  width: 30px;
  height: 30px;
}
.btn img, .btn2 img, .btn1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.btn2{
  position: absolute;
  top:20px;
  right:40px;
}

/* clear */
.clear{
  width:100%;
}
.clear_container{
  padding-top:120px;
  position: relative;
  width:100%;
}
.clear_img{
  width:100%;
  height: 923px;
  background-image: url(../img/sub1/clear.png);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
.clear_txt{
  color:#ffffff;
  position:absolute;
  top:25%;
  padding-left:60px;
}
.clear_txt h2{
  font-size:60px;
}
.Get_started_w{
  display: inline-block;
  padding:5px 10px 5px 18px;
  background-color:#ffffff;
  color:#000000;
  text-align: center;
  border-radius: 30px;
  margin-top:16px;
  line-height: 2.5vw;
}
.Get_started_w:hover{
  background-color:#000000;
  color:#ffffff;
  transition-duration: 0.7s;
}
.Get_started_w:hover .arrow{
  content:url(../img/arrow.png);
  transition-duration: 0.7s;
}

.arrow{
  top: -1.5px;
  vertical-align: middle;
}

.미디어쿼리{}

/* max-width:1300px ~ 1025px */
@media (max-width:1300px) and (min-width:1025px) {

.main_txt h2, .main_txt2 h2, .main_txt3 h2{
  font-size:4.615vw;
}
/*game*/
.game_container{
  padding:17.923vw 0 12.308vw 0 ;
}
.game_header{
  margin-bottom:4.615vw;
}
.game_header p{
  font-size:1.385vw;
}
.slider{
  gap:1.769vw;
}

/*slider*/
.swiper {
  padding-bottom:3.846vw;
}
.swiper-slide {
  width:23.615vw;
  height:29.769vw;
}

/* update */
.update_container{
  padding:8.308vw 0 10vw 0;
}
.update_header{
  padding-bottom:10vw;
}
.update_name{
  font-size:3.077vw;
}
.update_event{
  font-size:3.077vw;
}
.update_txt p, .update_txt2 p, .update_txt3 p{
  font-size:1.538vw;
}
.update1{
  margin: 0 4.615vw;
}
.update_img{
  margin-bottom:2.462vw;
  transition: 1s;
}
.update_img img{
  height:36.923vw;
}
.update_txt{
  bottom:3.846vw;
}
.btn{
  top:1.538vw;
  right:3.077vw;
}
.update_group{
  padding:0 4.615vw;
}
.update_img2 img, .update_img3 img{
  height:36.769vw;
}
.update_img2{
  margin-right:2.308vw;
}
.update_txt2, .update_txt3{
  bottom:3.846vw;
}
.btn1{
  position: absolute;
  top:1.538vw;
  right:4.615vw;
}
.btn, .btn1, .btn2 {
  width:2.308vw;
  height:2.308vw;
}
.btn2{
  top:1.538vw;
  right:3.077vw;
}

/* clear */
.clear_container{
  padding-top:9.231vw;
}
.clear_img{
  height:71vw;
  transition: 1s;
}
.clear_txt{
  padding-left:4.615vw;
}
.clear_txt h2{
  font-size:4.615vw;
}
}

.미디어쿼리{}
/* max-width:1024px ~ 768px */
@media (max-width:1024px) and (min-width:768px) {
.main_txt h2, .main_txt2 h2, .main_txt3 h2{
  font-size:5.859vw !important;
}
/*game*/
.game_container{
  padding:22.754vw 0 15.625vw 0 ;
}
.game_header{
  margin-bottom:5.859vw;
}
.game_header p{
  font-size:1.758vw;
}

/*slider*/
.swiper {
  padding-bottom:4.883vw;
}
.swiper-slide {
  width:29.98vw;
  height:37.793vw;
}

/* update */
.update_container{
  padding:10.547vw 0 12.695vw 0;
}
.update_header{
  margin-bottom:12.695vw;
}
.update_name{
  font-size:2.93vw;
}
.update_event{
  font-size:2.93vw;
}
.update_txt , .update_txt2 , .update_txt3 {
  font-size:1.953vw;
}
.update1{
  margin:0 5.859vw;
}
.update_img{
  margin-bottom:3.125vw;
  transition: 1s;
}
.update_img img{
  height:46.875vh;
}
.update_txt{
  bottom:4.883vw;
}
.btn{
  top:1.953vw;
  right:3.906vw;
}
.update_group{
  padding:0 5.859vw;
}
.update_img2{
  padding-right:2.93vw;
}
.update_img2 img, .update_img3 img{
  height:46.68vh;
}
.update_txt2, .update_txt3{
  bottom:4.883vw;
}
.btn1{
  position: absolute;
  top:1.953vw;
  right:3.906vw;
}
.btn, .btn1, .btn2 {
  width:2.93vw;
  height:2.93vw;
}
.btn2{
  top:1.953vw;
  right:3.906vw;
}

/* clear */
.clear_container{
  padding-top:11.719vw;
}
.clear_img{
  height:90.137vw;
  transition: 1s;
}
.clear_txt{
  padding-left:5.859vw;
}
.clear_txt h2{
  font-size:5.859vw;
}
}

.미디어쿼리{}
/* max-width:767 */
@media (max-width:767px){
.main_txt h2, .main_txt2 h2, .main_txt3 h2{
  font-size:5.215vw;
}
/*game*/
.game_container{
  padding:30.378vw 0 20.86vw 0 ;
}
.game_header{
  margin-bottom:7.823vw;
}
.game_header h2{
  padding-bottom:0.782vw;
}
.game_header p{
  font-size:2.347vw;
}

/*slider*/
.swiper {
  padding-bottom:6.519vw;
}
.swiper-slide {
  width:40.026vw;
  height:50.456vw;
}
  
  /* update */
.update_container{
  padding:14.081vw 0 16.949vw 0;
}
.update_header{
  margin-bottom:16.949vw;
}
.update_name{
  font-size:3.911vw;
}
.update_event{
  font-size:3.911vw;
}
.update1{
  margin:0 7.823vw;
}
.update_img{
  margin-bottom:4.172vw;
}
.update_img img{
  height:62.581vw;
}
.update_txt{
  bottom:6.519vw;
}
.btn{
  top:2.608vw;
  right:5.215vw;
}
.update_group{
  padding:0 7.823vw;
  display:block;
}
.update2{
  width:100%;
  margin-bottom:3.911vw;
}
.update3{
  position: relative;
  width:100%;
}
.update_img2{
  width:100%;
  padding-right:0;
}
.update_img2 img, .update_img3 img{
  height:62.321vw;
}
.update_txt2, .update_txt3{
  bottom:6.519vw;
}
.update_txt2 p, .update_txt3 p{
  font-size:2.608vw;
}
.btn1{
  position: absolute;
  top:2.608vw;
  right:6.519vw;
}
.btn, .btn1, .btn2 {
  width:3.911vw;
  height:3.911vw;
}
.btn2{
  top:2.608vw;
  right:5.215vw;
}

/* clear */
.clear_container{
  padding-top:11.719vw;
}
.clear_img{
  height:120.339vw;
  transition: 1s;
}
.clear_txt{
  padding-left:7.823vw;
}
.clear_txt h2{
  font-size:5.215vw;
}
.arrow {
  top: -1px;
}
}