*{
h2{
  font-size:60px !important;
}
p {
  color:#ffffff;
}
}


/* lang link */
.lang_link_item:after{
  background:#ffffff !important;
}

/*main*/
.main{
  width:100%;
}
.main_container{
  position: relative;
  width:100%;
}
.main_img{
  position:relative;
  width:100%;
  height:922px;
  background-image: url(../img/sub2/careers.png);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}
.main_txt{
  position:absolute;
  top:50%;
  left:60px;
}

/* careers_jobs */
.careers_jobs{
  width:100%;
}
.careers_container{
  margin-top:85px;
}
.careers_txt{
  margin-left:60px;
}
.careers_txt h2{
  margin-bottom: 21px;
}
.careers_txt p{
  font-size:30px;
}

/* jobs */
.jobs{
  width:100%;
  margin-bottom:146px;
  padding-top: 306px;
  position: relative;
}
.jobs_header{
  position: absolute;
  top: 30%;
  left: 49%;
}
.jobs_content{
  margin-top:62px;
}
.jobs_header h2{
  font-size:55px !important;
}
.jobs_txt ul{
  display:flex;
  /* justify-content: space-between; */
  justify-content: center;
}
.jobs_txt li{
  width:440px;
  height:320px;
  padding:30px;
  font-weight: 600;
}
.jobs_txt li a {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: inherit;
}
.jobs_txt li:hover{
  width:440px;
  height: 320px;
  border-radius: 20px;
  background-color: #ffffff;
  transition-duration: 0.7s;
}
.jobs_txt li:hover p{
  color:#131313;
}
.jobs_name{
  font-size:30px;
}
.jobs_small{
  font-size:18px;
  margin:22px 0;
}

/* job_mall */
.job_mall{
  width:100%;
  background-color: #ffffff;
}
.job_mall_container{
  display:flex;
  justify-content:space-around;
  padding: 154px 0 150px 0;
}
.job_mall_header{
  line-height:4vw;
}
.job_mall_header h2{
  color:#131313;
}
.job_mall_header p{
  color:#131313;
  font-size: 18px !important;
  font-weight:500;
  margin-bottom: 50px;
}
.view_More{
  padding: 10px 10px 10px 18px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 30px;
  line-height: 2.5vw;
}
.view_More:hover{
  border:1px solid black;
  background-color:white;
  color: #131313;
  transition-duration: 0.7s;
}
.view_More:hover .arrow{
  content:url(../img/arrow_b.png);
  transition-duration: 0.7s;
}
.arrow {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

/* jobs_mall_content */
.jobs_flex ul, .jobs_title, .jobs_flex{
  display:flex;
}
.jobs_add .jobs_box {
  display: flex;
}
.jobs_box li{
  margin-bottom: 100px;
}
.jobs_add li{
  padding-top: 100px;
  position: relative;
}
.jobs_add li:after {
  content:"";
  width:100%;
  height: 1px;
  display:block;
  position: absolute;
  top:0;
  right:0;
  background-color: #D7D7D7;
}
.jobs_box p{
  color:#131313;
}
.jobs_day{
  font-size:16px;
  font-weight:600;
}
.jobs-txt p {
  font-size: 20px;
  font-weight:700;
  color:#131313;
}
.jobs_flex li{
  width:382px;
  /* height:486px; */
  margin-left:20px;
}
.jobs_flex li:first-child{
  margin-left:0;
}
.jobs_title{
  margin-bottom: 40px;
  margin-top:24px;
}
.jobs_box{
  margin-bottom: 40px;
}
.jobs_logo{
  font-size:10px;
  background-color:black;
  color:#ffffff!important; 
  padding:3px 3px;
  margin-left:8px;
}
.jobs_logo_b{
  display:inline-block;
  font-size:10px !important;
  background-color:black;
  color:#ffffff!important; 
  padding:3px 3px;
  margin-left:8px;
}
.jobs_logo_p{
  font-size:10px !important;
  background-color:#6B059B;
  color:#ffffff!important; 
  padding:5px 5px;
  margin-left:8px;
}
.jobs_logo_y{
  display:inline-block;
  font-size:10px !important;
  background-color:#F2A900;
  color:#ffffff!important; 
  padding:3px 3px;
  margin-left:8px;
}

.미디어쿼리{}

/* max-width:1300px ~ 1025px */
@media (max-width:1300px) and (min-width:1025px) {
*{
h2{
  font-size:4.615vw !important;
}
}
/*main*/
.main_img{
  height:70.923vw;
}
.main_txt{
  left:4.615vw;
}

/* careers_jobs */
.careers_container{
  margin-top:6.538vw;
}
.careers_txt{
  margin-left:4.615vw;
}
.careers_txt h2{
  margin-bottom:1.615vw;
}
.careers_txt p{
  font-size:2.308vw !important;
}

/* jobs */
.jobs{
  margin-bottom:11.231vw;
  padding-top:23.538vw;
}
.jobs_content{
  margin-top:4.769vw;
}
.jobs_header h2{
  font-size:4.231vw !important;
}
.jobs_txt ul{
  padding:0 2.308vw;
}
.jobs_txt li{
  width:33.846vw;
  height:24.615vw;
  padding:2.308vw;
}
.jobs_txt li:hover{
  width:33.846vw;
  height:24.615vw;
}
.jobs_name{
  font-size:1.923vw;
}
.jobs_small{
  font-size:1.154vw;
  margin:0.769vw 0;
}

/* job_mall */
.job_mall_container{
  padding:11.846vw 0 11.538vw 0;
  margin: 0 4.615vw;
}
.job_mall_header{
  line-height:3vw;
}
.job_mall_header h2{
  font-size:2.923vw !important;

}
.job_mall_header p{
  font-size: 1.154vw !important;
  margin-top: 1.692vw;
  line-height: 2vw;
  margin-bottom:3.846vw;
}

/* jobs_mall_content */
.jobs_box li{
  margin-bottom:7.692vw;
}
.jobs_add li{
  padding-top:7.692vw;
}
.jobs_day{
  font-size:1.231vw;
  font-weight:500;
}
.jobs-txt p {
  font-size:1.538vw;
}
.jobs_flex li{
  width:29.385vw;
  margin-left:1.538vw;
}
.jobs_img img{
  width:29.385vw;
}
.jobs_title{
  margin-bottom:3.077vw;
  margin-top:1.846vw;
}
.jobs_box{
  margin-bottom:3.077vw;
}
.jobs_logo, .jobs_logo_b, .jobs_logo_p, .jobs_logo_y{
  font-size:0.769vw;
  padding:0.231vw 0.231vw;
  margin-left:0.615vw;
}
}
.미디어쿼리{}
/* max-width:1024px ~ 768px */
@media (max-width:1024px) and (min-width:768px) {
*{
h2{
  font-size:5.859vw !important;
}
}
/*main*/
.main_img{
  height:90.039vw;
}
.main_txt{
  left:5.859vw;
}

/* careers_jobs */
.careers_container{
  margin-top:8.301vw;
}
.careers_txt{
  margin-left:5.859vw;
}
.careers_txt h2{
  margin-bottom:2.051vw;
}
.careers_txt p{
  font-size:2.93vw !important;
}

/* jobs */
.jobs{
  margin-bottom:14.258vw;
  padding-top:29.883vw;
}
.jobs_content{
  margin-top:6.055vw;
}
.jobs_header h2{
  font-size:4.199vw !important; /*43*/
}
.jobs_txt ul{
  padding:0 2.93vw; /*30*/
}
.jobs_txt li{
  width:42.969vw;
  height:31.25vw;
  padding:2.93vw;
}
.jobs_txt li:hover{
  width:42.969vw;
  height:31.25vh;
}
.jobs_name{
  font-size:2.441vw; /*25*/
}
.jobs_small{
  font-size:1.465vw;  /*15*/
  margin:2.148vw 0;
}

/* job_mall */
.job_mall_container{
  padding:15.039vw 0 14.648vw 0;
  margin: 0 5.859vw;
}
.job_mall_header h2{
  font-size:2.93vw !important; /*30*/
  line-height:3vw;
}
.job_mall_header{
  margin-right:0.781vw;
}
.job_mall_header p{
  font-size: 1.465vw !important;  /*15*/
  margin-top:2.148vw;
  line-height: 2vw;
  margin-bottom:4.883vw;
}

/* jobs_mall_content */
.jobs_mall_content{
  width:100%;
}
.jobs_box li{
  margin-bottom:9.766vw;
}
.jobs_add li{
  padding-top: 9.766vw;
  position: relative;
}
.jobs_day{
  font-size:1.563vw;
}
.jobs-txt p {
  font-size:1.563vw;
}
.jobs_flex li{
  width: 100%;
  height: auto;
  margin-left:1.538vw;
}
.jobs_img img{
  width: 100%;
}
.jobs_title{
  margin-bottom:3.906vw;
  margin-top:2.344vw;
}
.jobs_box{
  margin-bottom:3.906vw;
}
.jobs_logo, .jobs_logo_b, .jobs_logo_p, .jobs_logo_y{
  font-size:0.977vw !important;
  padding:0.249vw 0.249vw;
  margin-left:0.664vw;
}
}

.미디어쿼리{}
/* max-width:767px */
@media (max-width:767px) {
*{
h2{
  font-size:5.215vw !important;
}
}

/*main*/
.main_img{
  height:120.209vw;
}
.main_txt{
  left:7.823vw;     /*40*/
}

/* careers_jobs */
.careers_container{
  margin-top:11.082vw;
}
.careers_txt{
  margin-left:7.823vw;
}
.careers_txt h2{
  margin-bottom:2.738vw;
}
.careers_txt p{
  font-size:3.39vw;
}

/* jobs */
.jobs{
  margin-bottom:19.035vw;
  padding-top:39.896vw;
}
.jobs_content{
  margin-top:8.083vw;
}
.jobs_header{ /*  ---보류--- */
  left:40%
}             
.jobs_header h2{
  font-size:4.824vw !important;
  white-space: nowrap;
}
.jobs_txt li{
  width:57.366vw;
  height:41.721vw;
  padding:3.911vw;
}
.jobs_txt li:hover{
  width:57.366vw;
  height:41.721vw;
}
.jobs_name{
  font-size:2.608vw;  /*20*/
}
.jobs_small{
  font-size:1.565vw;  /*15*/
  margin:2.868vw 0;
}

/* job_mall */
.job_mall_container{
  padding:20.078vw 0 19.557vw 0;
  display:block;
}
.job_mall_header{
  margin-bottom:6.519vw;
  text-align: center;
}
.job_mall_header h2{
  font-size:5.215vw !important; /*30*/
  line-height:5vw;

}
.job_mall_header p{
  font-size: 1.956vw !important;  /*15*/
  margin-top:2.148vw;
  line-height: 2vw;
  margin-bottom:4.883vw;
}

/* jobs_mall_content */
.jobs_box li{
  margin-bottom:13.038vw;
}
.jobs_add li{
  padding-top:13.038vw;
}
.jobs_day{
  font-size:2.086vw;
}
.jobs-txt p {
  font-size:2.608vw;
  text-align: center;
}
.jobs_title{
  justify-content: center;
}
.jobs_flex li{
  width:49.804vw;
  margin-left:2.608vw;
}
.jobs_img img{
  width:100%;
}
.jobs_title{
  margin-bottom:5.215vw;
  margin-top:3.129vw;
}
.jobs_box{
  margin-bottom:5.215vw;
  justify-content: center;
}
.jobs_logo, .jobs_logo_b, .jobs_logo_p, .jobs_logo_y{
  font-size:1.304vw !important;
  padding:0.391vw 0.391vw;
  margin-left:1.043vw;
}
}