body{
  background-color: #ffffff !important;
}

/*header*/
.header {
  background-color:#ffffff !important;
}

/*logo*/
.logo_bg {
  background-image: url(../img/logo-black.png) !important;
}

/*nav*/
.nav li > a {
  color: #131313 !important;
}

/*lang*/
.lang_link_item:after{
  background: #000 !important;
}

/* main */
.main_img{
  width:100%;
  height:730px;
  background-image: url(../img/sub3/sub3_main.png);
  background-size: cover;
  background-position: center;
  transition: 1s;
}
.main_txt{
  text-align: center;
  margin-top:90px;
}
.main_name{
  font-size:30px;
  font-weight:800;
}
.main_content{
  font-size:18px;
  margin-top:30px;
}

/* hover */
.hover{
  width:100%;
}
.hover_container{
  margin-top: 232px;
  margin-bottom:348px;
}
.hover_content ul{
  display:flex;
  justify-content: center;
  /* overflow: hidden; */
}
.hover_content{
  padding: 0 60px; /*60*/
  transition: 1s;
}
.hover_content li{
  position: relative;
  height: auto;
  margin-left:15px;
}
.hover_content li:first-child{
  margin-left:0;
}
.hover_img1 img, .hover_img2 img, .hover_img3 img, .hover_img4 img, .hover_img5 img{
  position: relative;
  width: 100%;
  height:auto;
  display:block;
}
.hover_bg1, .hover_bg2, .hover_bg3, .hover_bg4, .hover_bg5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(61, 60, 60, 0.5);
  border-radius:27px;
  z-index: 1;
  transition: background-color 0.3s ease;
}
.hover_txt1, .hover_txt2, .hover_txt3, .hover_txt4, .hover_txt5{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size:18px;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}

.more{
  display: inline-block;
  padding: 3px 10px;
  border:1px solid #ffffff;
  color: white;
  text-align: center;
  border-radius: 23px;
  margin-top: 44px;
  font-size:13px;
  font-weight:500;
  opacity: 0;
  /* transition: opacity 0.3s ease; */
}
.arrow {
position: relative;
top: -1px;
vertical-align: middle;
opacity: 0;
transition: opacity 0.3s ease;
}

li:hover .more,
li:hover .arrow,
li:hover .hover_bg1,
li:hover .hover_bg2,
li:hover .hover_bg3,
li:hover .hover_bg4,
li:hover .hover_bg5 {
  opacity: 1;
}

li:hover .hover_bg1,
li:hover .hover_bg2,
li:hover .hover_bg3,
li:hover .hover_bg4,
li:hover .hover_bg5 {
  background-color: rgba(61, 60, 60, 0.8);
}

/* about */
.about{
  width:100%;
  background-color:#151515;
}
.about_container{
  width:100%;
}
.about_header{
  text-align: center;
  padding:225px 0 250px 0;
}
.about p{
  color:#ffffff;
  font-weight:300;
}
.about_header h2{
  font-size:60px;
}
.about_header p{
  font-size:30px;
  white-space: nowrap;
}
.about_content{
  width:100%;
  margin:0 auto;
}
.about_content ul{
  width:100%;
}
.about_content li{
  display:flex;
  width:100%;
  height:150px;
  position:relative;
  margin: 100px 0;
}
.about_content h2{
  width:440px;
  margin: 0 60px;
  white-space:nowrap;
}
.about_content p{
  width:1280px;
  font-size:18px;
}
.about_content li::after {
  position: absolute;
  content: "";
  width:93%;
  height:1px;
  bottom:0;
  left:0;
  background-color:#ffffff;
  z-index: 1;
  margin-left:60px;
}

/* recruit */
.recruit{
  width:100%;
}
.recruit_content{
  width:100%;
  margin-top:280px;
  padding-bottom: 278px;
  text-align: center;
}
.recruit_content h2{
  font-size:60px;
  margin-bottom: 25px;
}
.recruit_content p{
  font-size:16px;
}
.Get_started_w{
  display: inline-block;
  padding:5px 10px 5px 18px;
  background-color:white;
  color:black;
  border-radius: 30px;
  margin-top:57px;
  line-height: 2.5vw;
}
.Get_started_w:hover{
  background-color:#000000;
  color:#ffffff;
  transition-duration: 0.7s;
}
.Get_started_w:hover .arrow1{
  content:url(../img/arrow.png);
  transition-duration: 0.7s;
}
.arrow1 {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.미디어쿼리{}

/* max-width:1300px ~ 1025px */
@media (max-width:1300px) and (min-width:1025px) {
/* main */
.main_img{
  height:56.154vw;
}
.main_txt{
  margin-top:6.923vw;
}
.main_name{
  font-size:2.308vw;
}
.main_content{
  font-size:1.385vw;
  margin-top:2.308vw;
}

/* hover */
.hover_container{
  margin-top:17.846vw;
  margin-bottom:26.769vw;
}
.hover_content{
  padding: 0 4.615vw; /*60*/
}
.hover_content li{
  margin-left:1.154vw;
}

.hover_txt1, .hover_txt2, .hover_txt3, .hover_txt4, .hover_txt5{
  font-size:1.538vw;
}
.hover_bg1, .hover_bg2, .hover_bg3, .hover_bg4, .hover_bg5 {
border-radius: 17px;
}

.more{
  padding: 0.231vw 0.769vw;
  margin-top:3.385vw;
  font-size:1vw;
}
.arrow {
  top: -0.077vw;
}

/* about */
.about_header{
  text-align: center;
  padding:17.308vw 0 19.231vw 0;
}
.about_header h2{
  font-size:4.615vw;
}
.about_header p{
  font-size:2.308vw;
}
.about_content li{
  height:11.538vw;
  margin:7.692vw 0;
}
.about_content h2{
  width:33.846vw;   
  margin-left:4.615vw;
  font-size:2.308vw; /*30*/
}
.about_content p{
  width:98.462vw;
  font-size:1.231vw;  /*16*/
}
.about_content li::after {
  margin-left:4.615vw;
}

/* recruit */
.recruit_content{
  margin-top:21.538vw;
  padding-bottom:21.385vw;
}
.recruit_content h2{
  font-size:4.615vw;
  margin-bottom:1.923vw;
}
.recruit_content p{
  font-size:1.231vw;
}
}



.미디어쿼리{}

/* max-width:1024px ~ 768px */
@media (max-width:1024px) and (min-width:768px) {
.bers i {
  color: #000000 !important;
}

/* main */
.main_img{
  height:56.154vw;
}
.main_txt{
  margin-top:8.789vw;
}
.main_name{
  font-size:2.93vw;
}
.main_content{
  font-size:1.758vw;
  margin-top:2.93vw;
}

/* hover */
.hover_container{
  margin-top:22.656vw;
  margin-bottom:33.984vw;
}
.hover_content{
  padding: 0 5.859vw; /*60*/
}
.hover_content li{
  margin-left:1.465vw;
}
.hover_content p{
  font-size:1.172vw !important;
}
.hover_bg1, .hover_bg2, .hover_bg3, .hover_bg4, .hover_bg5 {
  border-radius: 12px;
}
.more{
  padding: 0.293vw 0.977vw;
  margin-top:3.385vw;
  font-size:1.27vw;
}
.arrow {
  top: -0.098vw;
}

/* about */
.about_header{
  padding:21.973vw 0 24.414vw 0;
}
.about_header h2{
  font-size:5.859vw;
}
.about_header p{
  font-size:2.93vw;
}
.about_content li{
  height:14.648vw;
  margin:9.766vw 0;
}
.about_content h2{
  width:42.969vw;   
  margin-left:5.859vw;
  font-size:2.93vw; /*30*/
}
.about_content p{
  width:125vw;
  font-size:1.563vw;  /*16*/
}
.about_content li::after {
  margin-left:5.859vw;
}

/* recruit */
.recruit_content{
  margin-top:27.344vw;
  padding-bottom:27.148vw;
}
.recruit_content h2{
  font-size:2.969vw;
  margin-bottom:2.441vw;
}
.recruit_content p{
  font-size:1.563vw;
}

}


.미디어쿼리{}
/* max-width:767 */
@media (max-width:767px){
.bers i {
  color: #000000 !important;
}

/* main */
.main_img{
  height:56.154vw;
}
.main_txt{
  margin-top:8.789vw;
}
.main_name{
  font-size:2.93vw;
}
.main_content{
  font-size:1.758vw;
  margin-top:2.93vw;
}

/* hover */
.hover{
  overflow: hidden;
  user-select: none;
}

.hover_container{
  margin-top:30.248vw;
  margin-bottom:45.372vw;
  position: relative;
  overflow: hidden;
}
.hover_content{
  padding: 0 7.823vw; /*60*/
  transition: transform 0.2s ease; 
}

.hover_content ul {
  justify-content: space-around;
}
.hover_content li {
  width: 180px;
  height: 260px;
  margin-left:1.956vw;
}
.hover_img1 img, .hover_img2 img, .hover_img3 img, .hover_img4 img, .hover_img5 img{
  width: 180px;
  height: 260px;
  margin-left: 0;
}
.hover_bg1, .hover_bg2, .hover_bg3, .hover_bg4, .hover_bg5 {
  width:100%;
  height:100%;
  border-radius:18px;
}

.hover_content p{
  font-size:1.756vw !important
}

.more{
  padding: 0.522vw 1.043vw;
  margin-top:3.385vw;
  font-size:1.956vw;
}
.arrow {
  top: -0.098vw;
}

/* about */
.about_header{
  padding:29.335vw 0 19.557vw 0;
}
.about_header h2{
  font-size:5.215vw;  /*40*/
}
.about_header p{
  font-size:2.608vw; /*20*/
}
.about_content li{
  height:19.557vw;
  /* margin:0; */
}
.about_content h2{
  width:57.366vw;   
  margin-left:5.859vw;
  font-size:2.93vw; /*30*/
}
.about_content p{
  width:125vw;
  font-size:1.563vw;  /*16*/
}
.about_content li::after {
  width: 96%;
  margin-left: 18px;
}

/* recruit */
.recruit_content{
  margin-top:36.506vw;
  padding-bottom:36.245vw;
}
.recruit_content h2{
  font-size:6.519vw;    /*50*/
  margin-bottom:3.259vw;
}
.recruit_content p{
  font-size:1.825vw;  /*14*/
}
.Get_started_w{
  display: inline-block;
  padding:5px 10px 5px 18px;
  background-color:white;
  color:black;
  border-radius: 30px;
  margin-top:57px;
  line-height: 2.5vw;
}
}

