*{
h2{
  font-size:60px !important;
}
p {
  color:#ffffff;
}
}

/* lang link */
.lang_link_item:after{
  background:#ffffff !important;
}


/* main */
.main{
  width:100%;
}
.main_container{
  width:100%;
  position: relative;
}
.main_img{
  width:100%;
  height: 922px;
  background-image: url(../img/sub4/sub4_main.png);
  background-position: center;
  background-size: cover;
}
.main_txt{
  position: absolute;
  top:35%;
  left:60px;
}
.main-bottom{
  margin-top:60px;
  font-weight:500;
}


/* latest */
.latest{
  width:100%;
}
.latest_container{
  width:90%;
  margin:119px 60px;
}
.latest_header{
  font-size:30px;
  font-weight: 500;
  margin-bottom:30px;
}
.lat_group {
  width: 100%;
  display: flex;
}
.lat-group{
  width:100%;
}
.group_lat {
  width: 100%;
  max-width: 294px;
  height: auto;
}
.lat-txt{
  height:50px;
  white-space: nowrap;
}
.lat_btn {
  width:294px;
  margin-left: 36px;
  background-color: #ffffff;
}
.lat_btn:first-child{
  margin-left:0;
}
.img_box{
  width: 100%;
}
.img_box img {
  width: 100%;
  height: auto;
}
.txt_box {
  width: 100%;
  height: 150px;
  text-align: center;
  margin-top: 20px;
}
.txt_box p {
  color: #131313 !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.small {
  margin-top: 32px;
  font-size: 13px;
}


/* live */
.live{
  width:100%;
}
.live_container{
  width:100%;
  padding-top:89px;
  margin-left:60px;
  display:flex;
}
.live_group{
  width:70%;
}
.live_on{
  display:flex;
  margin-bottom: 30px;
}
.live_on img{
  width:10px;
  height:10px;
  margin-top: 20px;
}
.live_on p {
  font-size:30px;
  font-weight:600;
  margin-left:8px;
}
.live_video{
  width:100%;
  height:35.16vw;
  position: relative;
}
.live_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* vods */
.vods{
  width:30%;
  margin-left:100px;
}
.vods_header{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;
}
.vods_header p{
  font-size: 30px;
  font-weight: 600;
}
.more {
  display: inline-block;
  padding: 1px 10px 1px 14px;
  border: 1px solid #ffffff;
  color: white;
  text-align: center;
  border-radius: 23px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
  background: linear-gradient(to right, #F2A900 0%, #F2A900 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}
.more:hover {
  background-size: 100% 100%;
}
.arrow {
  position: relative;
  top: -1px;
  vertical-align: middle;
}


/* vods_list */
.vods_list{
  width:100%;
  margin-top:30px;
}
.vods_ltem li{
  display:flex;
  align-items: center;
  width:295px;
  height:80px;
  background-color:#ffffff;
  margin-bottom: 2vw;
}
.logo img{
  width:54px;
  height:54px;
  margin:0 18px;
}
.Black_p{
  font-size:13px;
  color:#131313;
}
.play-btn{
  width:20px;
  height:20px;
  margin-top: 6px;
  margin-left: 18px;
}


/* tournament */
.tournament{
  width:100%;
  margin-top:250px;
}
.tournament_container{
  margin-left: 60px;
}
.tou_header{
  width:93%;
  display:flex;
  justify-content: space-between;
}
.header-txt{
  font-size:30px;
  font-weight:600;
}
.tou_may{
  position: relative;
  display:flex;
  padding-bottom:9px;
  margin-top:30px;
}
.tou-may{
  padding-top:43px;
}
.tou-txt{
  font-size:16px;
  font-weight:600;
}
.tou--txt{
  font-size:16px;
}
.more1 {
  display: inline-block;
  padding: 1px 10px 1px 14px;
  border: 1px solid #ffffff;
  color: white;
  text-align: center;
  border-radius: 23px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
  background: linear-gradient(to right, #F2A900 0%, #F2A900 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}
.more1:hover {
  background-size: 100% 100%;
}
.arrow1{
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.tou_item{
  display:flex;
  width:200px;
  margin-left: 16px;
}
.tou_logo{
  margin-right:15px;
}
.big_pm{
  font-size:30px;
  font-weight:600;
}
.small_pm{
  font-size:10px;
}
.tou_content{
  display:flex;
  align-items: center;
  padding:24px;
  margin-left: 60px;
}
.tou_btn{
  display: flex;
  align-items: center;
}
.tou_btn {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
}
.tou_btn img{
  width:28px;
  height: 28px;
}
.tou_btn a{
  color:#ffffff;
  font-size:12px;
  margin-left:30px;
}
.tou_item img{
  width:6px;
  height:6px;
  margin-top: 10px;
  margin-right: 8px;
}
.big_pm1{
  font-size:16px;
  font-weight: 500;
}
.gray{
  color:#616161;
  font-weight:600;
  margin-left:10px;
  font-size:16px;
}
.live_logo{
  width:73px;
  height: 73px;
}
.tou_list{
  font-size:20px;
  position: relative;
}
.live_txt{
  font-size:43px;
  font-weight:600;
}
.tou-item{
  margin-top:9px;
}
.tou_list li{
  position:relative;
  width:100%;
  display: flex;
  align-items: center;
}
.tou_list li::after {
  content: "";
  position: absolute;
  width: 93%;
  height: 1px;
  background-color: #757575;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.tou_may::after {
  content: "";
  position: absolute;
  width: 93%;
  height: 1px;
  background-color: #757575;
  bottom: 0; 
  left: 0;
  z-index: 1;
}
.flex_start{
  align-items: flex-start;
}

/* standings */
.standings{
  width:100%;
  margin-top:280px;
  margin-bottom:250px;
}
.standings_container{
  padding-left:60px;
}
.sta_header{
  width:93%;
}
.sta_header span{
  margin-left:10px;
}
.sta_header span:first-child{
  margin-lefT:0;
}
.w_span{
  color:#ffffff;
}
.y_span{
  color:#F2A900;
  font-weight:700;
}
.sta_logo{
  display:flex;
  font-size:30px;
  font-weight:700;
  padding-bottom:33px;
  justify-content: space-between;
}
.sta_item, .sta_small_txt{
  display:flex;
  align-items: center;
}
.sta_small_txt p{
  font-size:13px;
  font-weight:300;
  color:#BCBCBC;
}
.ranking{
  font-weight:500;
  font-size:30px;
  margin-right:37px;
  margin-left: 35px;
}
.sta_list li{
  padding: 20px 0;
}
.sta_list li, .sta_logo{
  position: relative;
}
.sta_list li:after{
  content: "";
  position: absolute;
  width: 94%;
  height: 1px;
  background-color: #757575;
  bottom: 0; 
  left: 0;
  z-index: 1;
}
.sta_logo::after{
  content: "";
  position: absolute;
  width:100%;
  height: 1px;
  background-color: #757575;
  bottom: 0; 
  left: 0;
  z-index: 1;
}

.미디어쿼리{}
/* max-width:1300px ~ 1025px */
@media (max-width:1300px) and (min-width:1025px) {

/* main */
.main_img{
  height:70.923vw;
  transition: 1s;
}
.main_txt{
  left:4.615vw;
}
.main-bottom{
  margin-top:4.615vw;
}
.main_txt h2{
  font-size:4.615vw !important;
}


/* latest */
.latest_container{
  margin:9.154vw 4.615vw;
}
.latest_header{
  font-size:2.308vw;
  margin-bottom:2.308vw;
}
.lat_btn {
  width: 22.615vw;
  margin-left:2.769vw;
}
.img_box img {
  max-height:13.769vw;
}
.txt_box {
  margin-top:1.538vw;
  height:11.538vw;
}
.lat-txt{
  height:3.846vw;
  font-size:1.077vw;    /*14*/
}
.small {
  margin-top:2.462vw;
  font-size:1vw;
}

/* live */
.live_container{
  padding-top:6.846vw;
  margin-left:4.615vw;
}
.live_on{
  margin-bottom:2.308vw;
}
.live_on img{
  width:0.769vw;
  height:0.769vw;
  margin-top:1.538vw;
}
.youtube-btn{
  width:5.692vw;
  height:5.692vw;
}
.live_on p {
  font-size:2.308vw;
  margin-left:0.615vw;
}
.live_video{
  width:61.538vw;
  height:34.615vw;
}


/* vods */
.vods{
  margin-left:1.538vw;
}
.vods_header{
  width:23.077vw;
}
.vods_header p{
  font-size:2.308vw;
}

/* vods_list */
.vods_ltem li{
  width:22.692vw;
  height:6.154vw;
  margin-bottom:1.538vw;
}
.logo img{
  width:4.154vw;
  height:4.154vw;
  margin:0 1.385vw;
}
.Black_p{
  font-size:1vw;
}
.play-btn{
  width:1.538vw;
  height:1.538vw;
  margin-top:0.462vw;
  margin-left:1.385vw;
}

/* tournament */
.tournament{
  margin-top:19.231vw;
}
.tournament_container{
  margin-left:4.615vw;
}
.header-txt{
  font-size:2.308vw;
}
.tou_may{
  padding-bottom:0.692vw;
  margin-top:2.308vw;
}
.tou-may{
  padding-top:3.308vw;
}
.tou-txt{
  font-size:1.231vw;
}
.tou--txt{
  font-size:1.231vw;
}
.tou_item{
  width:15.385vw;
  margin-left:1.231vw;
}
.tou_logo{
  margin-right:1.154vw;
}
.big_pm{
  font-size:2.308vw;
}
.small_pm{
  font-size:0.769vw;
}
.tou_content{
  padding:1.846vw;
  margin-left:4.615vw;
}
.tou_btn img{
  width:2.154vw;
  height:2.154vw;
}
.tou_btn a{
  font-size:0.923vw;
  margin-left:2.308vw;
}
.tou_item img{
  width:0.462vw;
  height:0.462vw;
  margin-top:0.769vw;
  margin-right:0.615vw;
}
.big_pm1{
  font-size:1.231vw;
}
.gray{
  margin-left:0.769vw;
  font-size:1.231vw;
}
.live_logo{
  width:5.615vw;
  height:5.615vw;
}
.tou_list{
  font-size:1.538vw;
}
.live_txt{
  font-size:3.308vw;
}
.tou-item{
  margin-top:0.692vw;
}


/* standings */
.standings{
  margin-top:21.538vw;
  margin-bottom:19.231vw;
}
.standings_container{
  padding-left:4.615vw;
}
.sta_header span{
  font-size:1.231vw;
  margin-left:0.769vw;
}
.sta_logo{
  padding-bottom:2.538vw;
}
.sta_logo p{
  font-size:2.308vw;
}
.sta_small_txt p{
  font-size:1vw;
}
.ranking{
  font-size:2.308vw;
  margin-right:2.846vw;
  margin-left:2.692vw;
}
.sta_list li{
  padding:1.538vw 0;
}
}

.미디어쿼리{}
/* max-width:1024px ~ 768px */
@media (max-width:1024px) and (min-width:768px) {

  /* main */
.main_img{
  height:90.039vw;
}
.main_txt{
  left:5.859vw;
}
.main-bottom{
  margin-top:5.859vw;
}
.main_txt h2{
  font-size:3.906vw !important;
}


/* latest */
.latest_container{
  margin:11.621vw 5.859vw;
}
.latest_header{
  font-size:2.93vw;
  margin-bottom:2.93vw;
  margin-left:13.672vw;
}
.lat_group {
  flex-wrap: wrap;
  justify-content: center;
}
.group_lat {
  max-width:28.711vw;
}
.lat_btn {
  width: 28.711vw;
  margin:1.953vw;
}
.lat_btn:first-child {
  margin-left:1.953vw;
}
.lat_btn:nth-child(5){
  display:none;
}
.img_box img {
  max-height:13.769vw;
}
.txt_box {
  height:11.719vw; /*120*/
  margin-top:1.953vw;
}
.lat-txt{
  height:4.883vw;
  font-size:1.367vw;
}
.small {
  margin-top:3.125vw;
  font-size:1.27vw;
}


/* live */
.live_container{
  padding-top:89px;
  margin-left:60px;
}
.live_group{
  width:100%;
}
.live_on{
  margin-bottom:2.93vw;
}
.live_on img{
  width:0.977vw;
  height:0.977vw;
  margin-top:1.953vw;
}
.youtube-btn{
  width:5.273vw;
  height:5.273vw;
}
.live_on p {
  font-size:2.93vw;
  margin-left:0.781vw;
}
.live_video{
  height:35.16vw;
}

/* vods */
.vods{
  width:100%;
  margin-left:9.766vw;
}
.vods_header{
  width:29.297vw;
}
.vods_header p{
  font-size:2.93vw;
}


/* vods_list */
.vods_list{
  margin-top:2.93vw;
}
.vods_ltem li{
  width:28.809vw;
  height:7.813vw;
  margin-bottom:1.953vw;
}
.logo img{
  width:4.883vw;  /*40*/
  height:4.883vw;
  margin:0 1.758vw;
}
.Black_p{
  font-size:1.27vw; /*13*/
}
.play-btn{
  width:1.953vw;
  height:1.953vw;
  margin-top:0.586vw;
  margin-left:1.758vw;
}


/* * tournament */
.tournament{
  margin-top:19.531vw; /*200*/
}
.tournament_container{
  margin-left:5.859vw;
}
.header-txt{
  font-size:2.93vw;
}
.tou_may{
  padding-bottom:0.879vw;
  margin-top:2.93vw;
}
.tou-may{
  padding-top:4.199vw;
}
.tou-txt{
  font-size:1.563vw;
}
.tou--txt{
  font-size:1.563vw;
}
.tou_item{
  width:19.531vw;
}
.tou_logo{
  margin-right:1.465vw;
}
.big_pm{
  font-size:2.93vw;
}
.small_pm{
  font-size:0.977vw;
}
.tou_content{
  padding:2.344vw;
  margin-left:0.977vw; /*10*/
}
.tou_btn img{
  width:2.734vw;
  height:2.734vw;
}
.tou_btn a{
  font-size:1.172vw;
  margin-left:2.93vw;
}
.tou_item img{
  width:0.586vw;
  height:0.586vw;
  margin-top:0.977vw;
  margin-right:0.781vw;
}
.big_pm1{
  font-size:1.563vw;
}
.gray{
  margin-left:0.977vw;
  font-size:1.563vw;
}
.live_logo{
  width:7.129vw;
  height:7.129vw;
}
.tou_list{
  font-size:1.953vw;
}
.live_txt{
  font-size:2.441vw;
}
.tou-item{
  margin-top:0.879vw;
}



/* standings */
.standings{
  margin-top:27.344vw;
  margin-bottom:24.414vw;
}
.standings_container{
  padding-left:5.859vw;
}
.sta_logo p {
  font-size:2.93vw;
}
.sta_header span{
  font-size:1.563vw;
  margin-left:0.977vw;
}
.sta_logo{
  font-size:2.93vw;
  padding-bottom:3.223vw;
}
.sta_small_txt p{
  font-size:1.27vw;
}
.ranking{
  font-size:2.93vw;
  margin-right:3.613vw;
  margin-left:3.418vw;
}
.sta_list li{
  padding:1.953vw 0;
}
}


.미디어쿼리{}
/* max-width:767 */
@media (max-width:767px){
    /* main */
.main_img{
  height:120.209vw;
}
.main_txt{
  left:7.823vw;
}
.main-bottom{
  margin-top:7.823vw;
}
.main_txt h2{
  font-size:5.215vw !important;
}


/* latest */
.latest_container{
  margin:15.515vw 7.823vw;
}
.latest_header{
  font-size:3.911vw;
  margin-bottom:2.93vw;
  margin-left:13.672vw;
}
.lat_group {
  flex-wrap: wrap;
  justify-content: center;
}
.group_lat {
  max-width:28.711vw;
}
.lat_btn {
  width: 28.711vw;
  margin:1.953vw;
}
.lat_btn:first-child {
  margin-left:1.953vw;
}
.lat_btn:nth-child(5){
  display:none;
}
.img_box img {
  max-height:13.769vw;
}
.txt_box {
  height:15.645vw; /*120*/
  margin-top:1.953vw;
}
.lat-txt{
  height:4.883vw;
  font-size:1.956vw;
}
.small {
  margin-top:4.172vw;
  font-size:1.695vw; /*13*/
}


/* live */
.live_container{
  padding-top: 11.604vw;
  margin-left:2.216vw;
  display: block;
}
.live_group{
  width:100%;
}
.live_on{
  margin-bottom:3.911vw;
}
.live_on img{
  width:1.304vw;
  height:1.304vw;
  margin-top:2.608vw;
}
.youtube-btn{
  width:7.04vw;
  height:7.04vw;
}
.live_on p {
  font-size:3.911vw;
  margin-left:1.043vw;
}
.live_video{
  width:95%;
  height:432px;
}

/* vods */
.vods{
  /* width:100%;
  margin-left:9.766vw; */
  display:none;
/* .vods_header{
  width:29.297vw;
}
.vods_header p{
  font-size:2.93vw;
}
.more{
  display: inline-block;
  padding:0.098vw 0.781vw;
  font-size:1.27vw;
  margin-top:0.977vw;
}
.arrow {
  top:-0.195vw;
} */


/* vods_list */
/* .vods_list{
  margin-top:2.93vw;
}
.vods_ltem li{
  width:28.809vw;
  height:7.813vw;
  margin-bottom:1.953vw;
}
.logo img{
  width:4.883vw;  /*40*/
  /* height:4.883vw;
  margin:0 1.758vw;
}
.Black_p{
  font-size:1.27vw; /*13*/
}
/* .play-btn{
  width:1.953vw;
  height:1.953vw;
  margin-top:0.586vw;
  margin-left:1.758vw;
}  */


/* * tournament */
.tournament{
  margin-top:19.557vw; /*150*/
}
.tournament_container{
  margin-left:7.823vw;
}
.header-txt{
  font-size:3.911vw;
}
.tou_may{
  padding-bottom:1.173vw;
  margin-top:3.911vw;
}
.tou-may{
  padding-top:5.606vw;
}
.tou-txt{
  font-size:2.086vw;
}
.tou--txt{
  font-size:2.086vw;
}

.tou_item{
  width:11.734vw;
}
.tou_logo img{
  width:5.215vw;
  height:5.215vw;
}
.tou_logo{
  margin-right:1.956vw;
}
.big_pm{
  font-size:2.93vw;
}
.small_pm{
  font-size:1.304vw;
}
.tou_content{
  padding:3.129vw;
  margin-left:1.304vw; /*10*/
}
.tou_btn img{
  width:2.734vw;
  height:2.734vw;
}
.tou_btn a{
  font-size:1.304vw;
  margin-left:1.043vw;
}
.tou_item img{
  width:0.782vw;
  height:0.782vw;
  margin-top:0.782vw;
  margin-right:1.043vw;
}
.big_pm1{
  font-size:1.563vw;
}
.gray{
  margin-left:0.977vw;
  font-size:1.563vw;
}
.tou_logo .live_logo{
  width:9.518vw;
  height:9.518vw;
}
.tou_list{
  font-size:2.608vw;
}
.live_txt{
  font-size:3.129vw;
}
.tou-item{
  margin-top:1.173vw;
}



/* standings */
.standings{
  margin-top:36.506vw;
  margin-bottom:32.595vw;
}
.standings_container{
  padding-left:7.823vw;
}
.sta_logo p {
  font-size:3.911vw;
}
.sta_header span{
  font-size:2.086vw;
  margin-left:1.304vw;
}
.sta_img img{
  width:6.519vw;
  height:6.519vw;
}
.sta_logo{
  font-size:3.911vw;
  padding-bottom:4.302vw;
}
.sta_small_txt p{
  font-size:1.695vw;
}
.ranking{
  font-size:3.911vw;
  margin-right:4.824vw;
  margin-left:4.563vw;
}
.sta_list li{
  padding:2.608vw 0;
}
}
